# *npm

## Config Settings

registry = "https://registry.npmjs.org/"

# pnpm

## Lockfile Settings

git-branch-lockfile = true
merge-git-branch-lockfiles-branch-pattern[] = main
merge-git-branch-lockfiles-branch-pattern[] = release*
merge-git-branch-lockfiles-branch-pattern[] = !feat*
merge-git-branch-lockfiles-branch-pattern[] = !feature*
merge-git-branch-lockfiles-branch-pattern[] = !fix*

## Peer Dependency Settings

resolve-peers-from-workspace-root = true

## CLI Settings

engine-strict = true

## Node.js Settings

use-node-version = "21.4.0"
node-version = "21.4.0"

## Workspace Settings

shared-workspace-lockfile = true
save-workspace-protocol = "rolling"

## Other Settings

save-prefix = "~"
ignore-compatibility-db = true
